nav{
    background: rgba(196, 215, 178,0.4);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    /*this makes the element to the middle*/
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    /*https://w3schools.com/cssref/css3_pr_backdrop-filter.php*/
    backdrop-filter: blur(20px);
}

nav a{
    background: transparent;
    padding: 0.9 rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover{
    background: rgba(0,0,0,0.3);
}

nav a.active{
    background: var(--color-primary);
    color: var(--color-bg);
}